{% extends template('page-layout-main') %}

{% define data = {
    logged: _view.logged,
    questions: _view.questions,
    itemsPerPage: _view.itemsPerPage,
    paginationData: {
        parameters: {},
        currentPage: _view.page,
        paginationPath: '/faq',
        maxPage: _view.lastPage,
        showAlwaysFirstAndLast: true,
        anchor: '',
    }
} %}

{% block content %}
    <div class="content" style="margin-left:auto; margin-right: auto; width:70%"> <!---->
        <h2>Frequently asked questions</h2>
        <br><br>
        {% include molecule('pagination') with {
            data: data.paginationData
        } %}
        <br>
        {% for question in data.questions %}
            <div>
                Q: {{ question.question }} <br>
                A: {{ question.answer }} <br>
                Votes: {{ question.vote_count }} <br>
                {% if data.logged == true %}
                    {% if question.user_voted == true %}
                        User voted here :) <br>

                        <form method="post" action="/faq/revoke">
                            <input type="hidden" name="id-faq" value="{{ question.id_faq }}">
                            <input type="submit" value="Revoke vote">
                        </form>

                    {% else %}

                        <form method="post" action="/faq/vote">
                            <input type="hidden" name="id-faq" value="{{ question.id_faq }}">
                            <input type="submit" value="Vote">
                        </form>

                    {% endif %}
                {% endif %}
            </div>
            <br><br>
        {% endfor %}
        {#
        Current page: {{ data.page  }}
        <br>
        <a href="/faq?items-per-page={{ data.itemsPerPage }}&page={{ data.prevPage }}">Previous Page</a>
            <a href="/faq?items-per-page={{ data.itemsPerPage }}&page={{ data.nextPage }}">Next Page</a> #}

        {# path('/faq', {param: 'param'} | merge( {any: 'any'} )) #}

        {% include molecule('pagination') with {
            data: data.paginationData
        } %}

        {# include molecule('faq-entry') only #}

        <br><br>

    </div>
{% endblock %}
