{% extends template('page-layout-main') %}

{% define data = {
    logged: _view.logged,
    questions: _view.questions,
    itemsPerPage: _view.itemsPerPage,
    page: _view.page,
    prevPage: _view.prevPage,
    nextPage: _view.nextPage
} %}

{% block content %}
    <div class="content" style="margin-left:auto; margin-right: auto; width:70%"> <!---->
        <h2>Frequently asked questions</h2>
        <br><br>
        {% for question in data.questions %}
            <div>
                Q: {{ question.question }} <br>
                A: {{ question.answer }} <br>
                Votes: {{ question.vote_count }} <br>
                {% if data.logged == true %}
                    {% if question.user_voted == true %}
                        User voted here :) <br>

                        <form method="post" action="/faq/revoke">
                            <input type="hidden" name="id-faq" value="{{ question.id_faq }}">
                            <input type="submit" value="Revoke vote">
                        </form>

                    {% else %}

                        <form method="post" action="/faq/vote">
                            <input type="hidden" name="id-faq" value="{{ question.id_faq }}">
                            <input type="submit" value="Vote">
                        </form>

                    {% endif %}
                {% endif %}
            </div>
            <br><br>
        {% endfor %}

        Current page: {{ data.page  }}
        <br>
        <a href="/faq?items-per-page={{ data.itemsPerPage }}&page={{ data.prevPage }}">Previous Page</a>
        <a href="/faq?items-per-page={{ data.itemsPerPage }}&page={{ data.nextPage }}">Next Page</a>

        { include molecule('pagination') with {
            parameters: ['param'],
            currentPage: 1,
            paginationPath: '/faq',
            showAlwaysFirstAndLast: true,
            maxPage: 10,
            extremePagesLimit: 1,
            nearbyPagesLimit: 1,
            anchor: '/faq'
        } }

        {% include molecule('faq-entry') only %}

        <br><br>

    </div>
{% endblock %}
